@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 780px) {
  .container {
    width: 95%;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #302f38;
  background-color: #fcd232;
}

h1,
h2,
h3 {
  color: #FFFFFF;
  line-height: 1;
}

h1 {
  font-size: 2.0625rem;
}
@media (max-width: 425px) {
  h1 {
    font-size: 1.75rem;
  }
}

h2 {
  font-size: 1.75rem;
}
@media (max-width: 425px) {
  h2 {
    font-size: 1.75rem;
  }
}

h3 {
  font-size: 1.25rem;
}

ul {
  line-height: 2;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.button {
  background-color: #e02828;
  color: #FFFFFF;
  padding: 10px;
  border-radius: 6px;
  display: block;
  text-align: center;
}

header {
  box-shadow: 0px -8px 25px rgba(0, 0, 0, 0.3019607843);
}

.container {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .logo img {
  width: 55px;
  margin-right: auto;
  margin-left: auto;
}
.container .logo span {
  font-weight: 600;
  font-size: 0.75rem;
}
.container .logo a:visited {
  color: #302f38;
}
.container .navbar {
  display: flex;
}
.container .navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}
.container .navbar ul li {
  padding: 0 20px;
}
.container .navbar ul li a {
  color: #302f38;
}
.container .navbar ul li:last-child {
  display: none;
}
@media (max-width: 780px) {
  .container .navbar ul li:last-child {
    display: block;
  }
}
@media (max-width: 900px) {
  .container .navbar {
    font-size: 0.75rem;
  }
}
@media (max-width: 780px) {
  .container .navbar {
    position: absolute;
    padding-top: 100px;
    left: 0;
    top: -100%;
    background-color: #302f38;
    font-size: 0.875rem;
    width: 100%;
    height: 100vh;
    text-align: left;
    transition: 0.3s;
  }
  .container .navbar a {
    color: #FFFFFF !important;
  }
  .container .navbar ul {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .container .navbar ul li {
    margin: 15px 0;
  }
  .container .navbar.active {
    top: 0;
  }
}
@media (max-width: 780px) {
  .container .laptop-hire-button {
    display: none;
  }
}
.container .navbar-toggle-button {
  cursor: pointer;
  display: none;
  z-index: 1;
  transform: scaleX(-1);
}
.container .navbar-toggle-button div {
  border-radius: 15px;
  height: 6px;
  margin: 6px 0;
  background: #302f38;
}
.container .navbar-toggle-button .button-line-100 {
  width: 45px;
}
.container .navbar-toggle-button .button-line-70 {
  width: 70%;
}
.container .navbar-toggle-button .button-line-30 {
  width: 40%;
}
@media (max-width: 780px) {
  .container .navbar-toggle-button {
    display: block;
    margin-left: auto;
  }
  .container .navbar-toggle-button.active div:first-child, .container .navbar-toggle-button.active div:last-child {
    transition: 0.4s;
    background-color: #FFFFFF;
  }
  .container .navbar-toggle-button.active .button-line-100 {
    transform: translateY(12px) rotate(45deg);
  }
  .container .navbar-toggle-button.active .button-line-70 {
    opacity: 0;
  }
  .container .navbar-toggle-button.active .button-line-30 {
    transform: translateY(-12px) rotate(-45deg);
    width: 45px;
  }
}

.footer {
  font-weight: 600;
  color: #FFFFFF;
  background-color: #302f38;
  text-align: center;
  padding: 16px 0;
}
@media (max-width: 425px) {
  .footer {
    font-size: 10px;
  }
}

/*# sourceMappingURL=main.css.map */
