@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "sass:math";

body {
  font-family: var.$font-family-base;
  font-size: var.$font-size-base;
  font-weight: var.$font-weight-base;
  line-height: var.$line-height-base;
  color: var.$text-color-primary;
  background-color: var.$background-color-primary;
}

h1,
h2,
h3 {
  color: var.$text-color-base;
  //margin-bottom: math.div(var.$gutter-base, 2);
  line-height: var.$line-height-small;
}

h1 {
  font-size: var.$heading-size-big;

  @include mix.mobile-l-styles {
    font-size: var.$heading-size-small;
  }
}

h2 {
  font-size: var.$heading-size-small;

  @include mix.mobile-l-styles {
    font-size: var.$heading-size-small;
  }
}

h3 {
  font-size: var.$heading-size-tiny;
}

ul {
  line-height: 2;
  list-style-type: none;
}

a {
  text-decoration: none !important;
  color: var.$text-color-base; 
}

.button {
  background-color: var.$button-color-base;
  color: var.$text-color-base;
  padding: 10px;
  border-radius: 6px;
  display: block;
  text-align: center;
}
.button:hover {
  filter: brightness(80%);
  transition: 0.2s ease-in-out;
}
