@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;
@use "sass:math";

.banner2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 35vh;
  @include mix.tablet-styles {
    height: 25vh;
  }
  @include mix.mobile-l-styles {
    height: 15vh;
  }
  h1 {
    color: var.$text-color-primary;
    font-size: var.$heading-size-bigger;
    font-weight: var.$font-weight-bold;
    @include mix.mobile-m-styles {
      font-size: var.$heading-size-big;
    }
  }
}

