@use 'sass:math';

@function rem-calc($size) {
  @return (math.div($size, 16)) * 1rem;
}

// Font settings
$font-family-base:           "Montserrat", sans-serif;

$font-size-small:            rem-calc(13);
$font-size-base:             rem-calc(16);
$font-size-medium:           rem-calc(18);

$heading-size-tiny:          rem-calc(20);
$heading-size-small:         rem-calc(28);
$heading-size-big:           rem-calc(33);
$heading-size-bigger:        rem-calc(50);

$line-height-base:           1.5;
$line-height-small:          1;

$font-weight-normal:         400;
$font-weight-bold:           600;
$font-weight-base:           $font-weight-normal;

// Size settings
$gutter-base:                rem-calc(30);

// Color settings
$text-color-base:            #FFFFFF;
$text-color-primary:         #302f38;
$text-color-secondary:       #000000;

$background-color-base:      #FFFFFF;
$background-color-primary:   #fcd232;
$background-color-secondary: #eb3b3b;
$background-color-tertiary:  #302f38;
$background-color-quaternary:#000000;